@model restMVC4.Models.ClientModel

@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

@using (Html.BeginForm())
{
    <br />
    <br />
    <br />
    <br />
    <div>
        <div><p>name</p></div>
        <div>@Html.TextBoxFor(x => x.Name)</div>

        <div><p>patronymic</p></div>
        <div>@Html.TextBoxFor(x => x.Patronymic)</div>

        <div><p>surname</p></div>
        <div>@Html.TextBoxFor(x => x.SurName)</div>

        <div><p>email</p></div>
        <div>@Html.TextBoxFor(x => x.Mail)</div>

        <div><p>password</p></div>
        <div>@Html.TextBoxFor(x => x.Password)</div>

        <div><p>phone</p></div>
        <div>@Html.TextBoxFor(x => x.Phone)</div>
    </div>
    <input type="submit" />
}
