@model restMVC4.Models.ClientModel

@{
    ViewBag.Title = "Registration";
}
<div class="wrapper">
    <div class="specialoffer_head"></div>
    <div class="center_cont center_cont_marg">

        <h3>Регистрация</h3>
        <div class="separator"></div>
        <div class="reg">
            @using (Html.BeginForm())
            {
                <div>
                    <div><p>Имя</p></div>
                    <div>@Html.TextBoxFor(x => x.Name)</div>

                    <div><p>Отчество</p></div>
                    <div>@Html.TextBoxFor(x => x.Patronymic)</div>

                    <div><p>Фамилия</p></div>
                    <div>@Html.TextBoxFor(x => x.SurName)</div>

                    <div><p>e-mail</p></div>
                    <div>@Html.TextBoxFor(x => x.Mail)</div>

                    <div><p>Пароль</p></div>
                    <div>@Html.TextBoxFor(x => x.Password)</div>

                    <div><p>Телефон</p></div>
                    <div>@Html.TextBoxFor(x => x.Phone)</div>
                </div>
                <input type="submit" class="button" />
            }

        </div>

        </div>
    </div>
       
